.App {
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 57px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 27px; 
}

.lowernav{
  width: 100%;
  height: 45px;
  background-color: #333333; 
  color: white;
  display: flex;
  display: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 27px; 
}
.airjordan{
color: white;
font-size: 14px;
font-weight: 200;
text-transform: uppercase;
}
.nike{
  color: white;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;  
}
.yeezy{
  color: white;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;  
}
.adidas{
  color: white; 
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
}

.logo{
  height: 31px;
  margin-left: 350px;
}

.login{
  margin-right: 250px;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: black;
}
.cartlogo{
  height: 30px;
}